form{
  padding: 20px;
  margin-top: 60px;
}

form button, form h5{
  margin: 20px 0;
}

.btn{
  margin-top: 20px;
  margin-right: 20px;
}

.btn-large{
  margin-right: 20px;
  margin-top: 20px;
}

.full-width {
  width:100%;
}

a.active{
  background-color: rgb(112, 112, 112);
}

.nav-container{
  width: 90%;
  margin: auto;
}

.min-height{
  min-height: 200px;
}

i{
  cursor: pointer;
}

.likes-count{
  display: inline-block;
}